name: Test on Dev Branch

on:
  push:
    branches: ["dev"] # Kích hoạt khi có commit lên nhánh dev

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root

      - name: Lint with Ruff
        run: poetry run ruff check .

      - name: Format with Black
        run: poetry run black --check .

      - name: Run tests with Pytest
        env:
          # Đặt một giá trị giả lập để vượt qua bước kiểm tra cấu hình của Pydantic
          DATABASE_URL: "postgresql+asyncpg://test:test@localhost/test"
        run: poetry run pytest --cov=app --cov-report=xml -v

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: coverage.xml
